# {{ ansible_managed }}

PRUNE_BIND_MOUNTS="{{ 'yes' if updatedb_prune_bind_mounts else 'no' }}"
PRUNENAMES="{{ updatedb_prunenames | join(' ') }}"
PRUNEPATHS="{{ updatedb_prunepaths | join(' ') }}"
PRUNEFS="{{ updatedb_prunefs | join(' ') }}"
